<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="dpdclassic.check.rights" class="DpdClassic\Loop\CheckRightsLoop" />
        <loop name="dpdclassic.delivery" class="DpdClassic\Loop\DpdClassicDelivery" />
        <loop name="dpdclassic.orders" class="DpdClassic\Loop\DpdClassicOrders" />
        <loop name="dpdclassic" class="DpdClassic\Loop\DpdClassicPrice" />
        <loop name="dpdclassic.urltracking" class="DpdClassic\Loop\DpdClassicUrlTracking" />
    </loops>

    <forms>
        <form name="export_exaprint_form" class="DpdClassic\Form\ExportExaprintForm" />
        <form name="export_form" class="DpdClassic\Form\ExportForm" />
        <form name="freeshipping_form" class="DpdClassic\Form\FreeShippingForm" />
        <form name="import_form" class="DpdClassic\Form\ImportExaprintForm" />
    </forms>

    <hooks>
        <hook id="dpdclassic.hook" class="DpdClassic\Hook\DpdClassicHook" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfig" />
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigJs" />
        </hook>
    </hooks>

    <services>
        <service id="send.dpdclassic.mail" class="DpdClassic\EventListeners\SendEMail" scope="request">
            <argument type="service" id="thelia.parser" />
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
